{% extends 'base-front.html.twig' %}

{% block title %}New Hotel{% endblock %}


{% block body %}

    <h1>Create new Hotel</h1>
            <a href="{{ path('app_hotel_index') }}"class="btn btn-outline-secondary rounded" style=" position: absolute; top: 10px; right: 10px; margin-right: 10px; margin-top: 10px;">back to list</a>

    

    {{ include('hotel/_form.html.twig') }}<br>

{% endblock %}
