<form method="post" action="{{ path('app_message_delete', {'id_message': message.id_message}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id_message) }}">
 <button  class="btn btn-danger">Delete</button>
</form>
