{% extends 'base-back.html.twig' %}
{% block title %} Destination{% endblock %}

{% block body %}
<section class="section">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Modiifer Destination</h5>
            <a href="{{ path('app_destination_index') }}"class="btn btn-outline-secondary rounded" style=" position: absolute; top: 10px; right: 10px; margin-right: 10px; margin-top: 10px;">back to list</a>

    
    {{ include('destination/_form.html.twig', {'button_label': 'Modifier'}) }}

   <div style=" position: absolute; bottom: 10px; right: 10px; margin-right: 10px; margin-bottom: 10px;">

    {{ include('destination/_delete_form.html.twig') }}</div>

{% endblock %}
